body {
  font-family: Arial;
  background: rgb(150, 193, 227);
  display: flex;
  justify-content: center;
  padding: 2em;
}
.container {
  background: white;
  padding: 2em;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 0 10px #ccc;
}
input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 1em;
}
button {
  background: rgb(13, 161, 246);
  color: white;
  border: none;
}
.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.msg {
  background: #dff0d8;
  padding: 10px;
  margin-bottom: 1em;
}
